.footer {
  padding: 2rem 0;
  background-color: #282828;
}

.footer-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-copyright {
  margin-bottom: 0;
  margin-right: auto;
  color: #fff;
}

.footer-link {
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
